body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  background-color: #eeeeee;
}

.site-navigation,
.services-list,
.footer-social,
.catalog-list {
  list-style: none;
  padding: 0;
}

.site-navigation a,
.shopping-cart {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.shopping-cart:hover,
.shopping-cart:focus {
  color: #fb565a;
}

.shopping-cart:active {
  color: rgba(0, 0, 0, 0.3);
}

.services-list {
  text-align: center;
}

.link-web-red {
  /* Указываем шрифт */
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  /* Указываем цвет */
  color: #ffffff;
  /* Указываем большие буквы */
  text-transform: uppercase;
  /* Убираем подчеркивание дефолтное для ссылок */
  text-decoration: none;
  /* Указываем фон */
  background-color: #FB565A;
  /* Центруем с помощью паддингов
  Высота блока из макета 50px, высота текста 18px,
  50 - 18 = 32px - это свободное пространство,
  которое нужно распределить, делим на 2 = 16px*/
  padding-top: 16px;
  padding-bottom: 16px;
  /* С шириной подругому, задаем ее явно,
  но для этого сделаем элемент блочным */
  display: inline-block;
  width: 160px;
  /* А теперь отцентруем текст  */
  text-align: center;
  /* Скругляем углы */
  border-radius: 5px;
  cursor: pointer;
}

.link-apps-green {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #00ca74;
  padding-top: 16px;
  padding-bottom: 16px;
  display: inline-block;
  width: 160px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.link-present-yellow {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #efc84a;
  padding-top: 16px;
  padding-bottom: 16px;
  display: inline-block;
  width: 160px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.link-web-red:hover,
.link-web-red:focus {
  background-color: #e74246;
}

.link-web-red:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.link-apps-green:hover,
.link-apps-green:focus {
  background-color: #00bc6c;
}

.link-apps-green:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.link-present-yellow:hover,
.link-present-yellow:focus {
  background-color: #eab534;
}

.link-present-yellow:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 31px;
  color: #283136;
  text-transform: none;
}

.filter-input:disabled+label {
  color: #283136;
  opacity: 0.3;
}

.form-button {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #eeeeee;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 260px;
  min-height: 50px;
  text-align: center;
  border: 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-button:hover,
.form-button:focus {
  background-color: #dfdfdf;
}

.form-button:active {
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.catalog-list {
  list-style: none;
}

.catalog-item-info {
  background-color: #eeeeee;
}

.catalog-item {
  text-align: center;
}

.catalog-item-title {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.catalog-item-description {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #666666;
  text-transform: none;
}

.link-buy-red {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #FB565A;
  padding-top: 16px;
  padding-bottom: 16px;
  display: inline-block;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  text-transform: none;
}

.modal h2 {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 45px;
}

.modal.appointment-field {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

input[type="text"] {
  width: 360px;
  height: 50px;
  border: solid 2px #d7dcde;
  background-color: #ffffff;
  opacity: 0.5;
}

input[name="message"] {
  width: 760px;
  height: 118px;
}

input[type="text"]:hover,
input[type="message"]:hover {
  color: rgba(68, 68, 68, 0.5);
  border: solid 2px #b4b9bb;
}

input[type="text"]:focus,
input[type="message"]:focus {
  color: #444444;
  border: solid 2px #000000;
}

input[type="text"]:invalid,
input[type="message"]:invalid {
  color: #e74246;
  border: solid 2px #e74246;
}

.write-us-button {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #FB565A;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 260px;
  min-height: 50px;
  text-align: center;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.write-us-button:hover,
.write-us-button:focus {
  background-color: #e74246;
}

.write-us-button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.social-link:hover {
  background-color: #e74246;
}

.social-link:focus {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.footer-slogan-discount {
  text-align: center;
}

.footer-slogan {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 38px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  min-height: 132px;
  margin: 0 auto;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
}

.main-header {
  min-height: 132px;
}

.nav-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 132px;
  width: 800px;
  align-items: center;
  justify-content: space-between;
}

.main-header-logo {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  width: 160px;
  justify-content: flex-start;
  align-items: center;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 440px;
  justify-content: space-between;
  align-items: center;
}

.services-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  min-height: 350px;
  align-items: center;
  justify-content: space-between;
}

.services-list li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.footer-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 217px;
  width: 960px;
  align-items: center;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 217px;
  width: 260px;
  align-items: center;
  justify-content: space-between;
}

.social-link {
  display: inline-block;
  width: 79px;
  height: 79px;
  text-align: center;
  background-color: #e1e1e1;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-slogan-discount {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 580px;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-title-catalog {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 55px;
  line-height: 56px;
  background-color: #eeeeee;
  min-height: 43px;
  text-align: center;
  padding-top: 111px;
  padding-bottom: 111px;
  margin: 0 auto;
}

.filter {
  width: 260px;
  min-height: 800px;
  outline: 1px solid red;
}

.catalog {
  width: 760px;
  min-height: 2217px;
  outline: 1px solid green;
}

.catalog-item {
  width: 360px;
  /*временная высота для item без всплывающего описания товара.Потом сменю на 616px*/
  min-height: 807px;
  margin-bottom: 33px;
}

.catalog-flex {
  display: flex;
  justify-content: space-between;
  outline: 1px solid blue;
}

.catalog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  list-style: none;
}

.catalog-item-info {
  width: 360px;
  min-height: 231px;
}
